body{
    background-size:cover;
    background-position: center;
    background-color: aqua;
}
canvas{
    box-shadow: 10px 10px 10px aqua;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

